#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/reset.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp Q  &kp W  &kp E  &kp R  &kp T  &kp Y
                &kp A  &kp S  &kp D  &kp F  &kp G  &kp H
                &kp Z  &kp X  &kp C  &kp V  &kp B  &kp N
                &kp LCTRL &kp LGUI &kp LALT &mo 1 &kp LSHFT &kp SPACE
            >;
        };

        lower_layer {
            bindings = <
                &kp N1 &kp N2 &kp N3 &kp N4 &kp N5 &kp N6
                &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_CLR &sys_reset &bootloader
                &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans
            >;
        };
    };
};
