if SHIELD_IURII_LEFT

config ZMK_KEYBOARD_NAME
    default "Iurii"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_IURII_RIGHT

config ZMK_KEYBOARD_NAME
    default "Iurii"

endif

if SHIELD_IURII_LEFT || SHIELD_IURII_RIGHT

config ZMK_SPLIT
    default y

endif
